<div class="jumbotron">
  <h1>BI Operations</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Query Your Data</h3>
    </div>
    <div class="panel-body">
	
		<p>How would you like to query your data?</p>
		<br>

	</div>
</div>