<div class="jumbotron">
  <h1>Change Your Name</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Award Information</h3>
    </div>
	
    <div class="panel-body">
	
	<p>Current name:</p>
	<p>{{user.fname}} {{user.lname}}</p>
	<br>
	
	<form action=null>
	New name: <br>
	<input type="text" name="newName"><br>
	<br>
	
	<input type="submit" name="Submit"><br>
	</form>
	
</div>