<div class="jumbotron">
  <h1>Create a New Award</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Name information</h3>
    </div>
    <div class="panel-body">
	
		<p>Please fill out the fields below to create your new award.</p>
		<br>

		<form action=null>

		Award type:<br>
		<input type="radio" name="awardType" value="week" checked>Employee of the Week<br>
		<input type="radio" name="awardType" value="month" checked>Employee of the Month<br>
		<br>

		Recipient first name:<br>
		<input type="text" name="firstname"><br><br>

		Recipient last name:<br>
		<input type="text" name="lastname"><br><br>

		Recipient email:<br>
		<input type="text" name="email"><br><br>

		User issuing award:<br>
		<input type="text" name="issuer"><br><br>

		Time/date award was issued:<br>
		<input type="text" name="timedate"><br><br>

		<input type="submit" value="Submit">
		
		</form>

	</div>
</div>