<div class="jumbotron">
  <h1>Delete an Award</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Issued Awards</h3>
    </div>
	
	<div class="panel-body">
		<p>Please select an award from below to delete:</p>
		
		<table border="1" cellpadding="5" cellspacing="5">
		<tr>
		<th>Award Type</th>
		<th>Recipient</th>
		<th>Issue time/date</th>
		<th>Delete?</th>
		</tr>
		</table>
	</div>
	
	
</div>