{{#if user}}

<script src = "/js/scriptAdmin.js"></script>

<div class="jumbotron">
  <h1>Add/Edit/Delete Admin Users</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Admin User Management</h3>
    </div>
    <div class="panel-body">
	
		<p>Select an admin from below to delete or complete the form to create a new admin user. To edit an admin, click on the cell(s) you wish to edit, make your changes, and press "Edit User."</p>
		<br>
		
		<table id = "myTable" border = "1">
			<tr>
				<th>Last Name</th>			
				<th>First Name</th>
				<th>Email</th>
				<th>Date/Time Created</th>
			</tr>
		<table>
		<br>

		<form action="/editAdmins" method="post">

		First name:<br>
		<input type="text" name="fName" id="fName"><br><br>

		Last name:<br>
		<input type="text" name="lName" id="lName"><br><br>

		Email (Username):<br>
		<input type="text" name="email" id="email"><br><br>

		Password:<br>
		<input type="password" name="pword" id="pword"><br><br>

		<input type="submit" value="Submit">
		
		</form>

	</div>
</div>

{{else}}
  <div class="jumbotron text-center">
    <h1>Reticulum</h1>
    <p>Sign in</p><br>
    <p> Or </p><br>
    <p>Sign up and get started!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
       Sign in / Sign up
      </a>
    </p>
  </div>

{{/if}}
