{{#if user}}

<script src="/js/script.js"></script>

<div class="jumbotron">
  <h1>Add/Edit/Delete Regular Users</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Regular User Management</h3>
    </div>
    <div class="panel-body">
	
		<p>Select a regular user from below to delete or complete the form to create a new regular user. To edit a user, click on the cell(s) you wish to edit, make your changes, and press "Edit User."</p>
		<br>
		
		<table id = "myTable" border = "1">
			<tr>
				<th>Region</th>
				<th>Signature</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Email</th>
				<th>Date/Time Created</th>
			</tr>
		<table>
		<br>

		<form action="/editUsers" method="post">
		<fieldset>

		First name:<br>
		<input type="text" name="fName" id="fName"><br><br>

		Last name:<br>
		<input type="text" name="lName" id="lName"><br><br>

        <label for="rid">Select Region (required):</label> <br>
        <select id="rid" name="rid">
        {{#each regions}}
             <option value={{regionID}}>{{regionID}} - {{regionName}}</option>
        {{/each}}
        </select> <br><br>

		Email (Username):<br>
		<input type="text" name="email" id="email"><br><br>

		Password:<br>
		<input type="password" name="pword" id="pword"><br><br>
		
		Signature image URL:<br>
		<input type="text" name="signature" id="signature"><br><br>

		<input type="submit" value="Submit">
		</fieldset>
		</form>

	</div>
</div>

{{else}}
  <div class="jumbotron text-center">
    <h1>Reticulum</h1>
    <p>Sign in</p><br>
    <p> Or </p><br>
    <p>Sign up and get started!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
       Sign in / Sign up
      </a>
    </p>
  </div>

{{/if}}
