<div class="jumbotron">
  <h1>Add/Delete Regular Users</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Regular User Management</h3>
    </div>
    <div class="panel-body">
	
		<p>Select a regular user from below to delete or complete the form to create a new regular user.</p>
		<br>

		<form action=null>

		First name:<br>
		<input type="text" name="firstname"><br><br>

		Last name:<br>
		<input type="text" name="lastname"><br><br>

		Email (Username):<br>
		<input type="text" name="email"><br><br>

		Password:<br>
		<input type="text" name="password"><br><br>
		
		Signature image upload:<br>
		<input type="text" name="signature"><br><br>

		Time/date account was created:<br>
		<input type="text" name="timedate"><br><br>

		<input type="submit" value="Submit">
		
		</form>

	</div>
</div>