<h1>Reset Password Here</h1>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Password Set Via Email</h3>
      </div>
      <div class="panel-body">
        <form action="/newPass" method="post">
           <fieldset>
             <label for="newLName">Enter Email Used To Register Account</label>
             <input type="text" name="acctEmail" id="acctEmail">
             <input type="submit" id="resetSubmit">
           </fieldset>
         </form>
      </div>
    </div>
