{{#if user}}
<h3 style="color: green;">{{msg}}</h3>
<form id="sendMessage-form" class="" action="/sendMessage" method="post">
    <div class="form-group">
        <p></p>
        <label>Send To E-mail:</label>
        <input type="text" class="form-control" name="userName"/>
    </div>
    <div class="form-group">
        <label>Message:</label>
        <textarea rows="3" type="text" class="form-control" name="messagetxt"></textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-md" value="Send"/>
    </div>
</form>
{{/if}}